<div class="container-fluid">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" >e-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold " routerLink="/Home" routerLinkActive="active text-info">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/Products" routerLinkActive="active text-info">Products</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/Cart" routerLinkActive="active text-info">Cart</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/Order-Parent" routerLinkActive="active text-info">Order-Parent</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/AddProduct" routerLinkActive="active text-info">Add Product</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/ContactUs" routerLinkActive="active text-info">Contact Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-bold" routerLink="/AboutUs" routerLinkActive="active text-info">About Us</a>
        </li>
        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>

