<form (ngSubmit)="addNewProduct()" #productFormRef="ngForm">
  <div class="mb-3">
    <label for="prdName" class="form-label">Product Name</label>
    <input type="text" #prodNameInput="ngModel" class="form-control" name="prdName" id="prdName" [(ngModel)]="prd.title"
      required pattern="[A-Za-z]{2,10}|[[:space:]][A-Za-z]{2,10}" [class.is-valid]="prodNameInput.valid"
      [class.is-invalid]="prodNameInput.invalid">
    <div class="alert alert-danger" [hidden]="prodNameInput.valid || prodNameInput.untouched">
      <div *ngIf="prodNameInput.errors?.['required']">Product Name is required</div>
      <div *ngIf="prodNameInput.errors?.['pattern']">product name is must be at least 2 characters</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="prdImg" class="form-label">Image URL</label>
    <input type="text" #prodNameInput="ngModel" class="form-control" name="prdImg" id="prdImg" [(ngModel)]="prd.thumbnail" >
  </div>

  <div class="mb-3">
    <label for="prdQuant" class="form-label">Quantity</label>
    <input type="number" class="form-control" name="prdQuant" id="prdQuant" required [(ngModel)]="prd.stock">
  </div>

  <div class="mb-3">
    <label for="prdPrc" class="form-label">Price</label>
    <input type="number" class="form-control" name="prdPrc" id="prdPrc" required [(ngModel)]="prd.price">
  </div>

  <div class="mb-3">
    <label for="prddiscount" class="form-label">Discount</label>
    <input type="number" class="form-control" name="prddiscount" id="prddiscount" required [(ngModel)]="prd.discountPercentage">
  </div>
<!-- 
  <div class="mb-3">
    <label for="prdCat" class="form-label">Select Category</label>
    <select class="form-control" name="prdCat" id="prdCat" required [(ngModel)]="prd.categroyid">
      <option *ngFor="let cat of catList" [value]="cat.id">
        {{cat.name}}
      </option>
    </select>
  </div> -->


  <button type="submit" class="btn btn-success" [disabled]="productFormRef.invalid">Save</button>
</form>

<!-- <button class="btn btn-primary" (click)="addNewProduct()">Add New Product</button> -->
